/* Basic reset */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  background-color: navy;
  color: white;
  padding: 10px;
}

.logo {
  width: 100px;
}

section h2,h3 {
  text-align: center;


}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* History section */
.history {
  padding: 20px;
  background-color: #f0f0f0;
}

.div  hero

.history-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.history-box img {
  width: 100%;
}

/* Adventures section */
.adventures {
  padding: 20px;
}

.gallery {
  display: flex;
  gap: 10px;
}

.gallery figure {
  text-align: center;
  flex: 1;
}

.gallery img {
  width: 100%;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: navy;
  color: white;
  padding: 10px;
}

.social img {
  width: 24px;
  margin-left: 10px;
}
